@use "variables" as vars;
@use "helper" as helper;

.wrapper {
  background-color: helper.get-theme-color("background");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: vars.$width-xxl;
  padding-top: vars.$space-xxxl;
}
