@use "variables" as vars;
@use "helper" as helper;

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: helper.get-theme-color("background");
}

$container-padding-top: vars.$space-xxxl + vars.$space-xl;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $container-padding-top;
  width: 100%;
  max-width: vars.$width-xxl;
  min-height: calc(
    100vh - $container-padding-top
  ); // The navbar height is subtracted from the container height
}
