@use "variables" as vars;
@use "helper" as helper;

.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: vars.$width-xxl;
  min-height: calc(100vh - vars.$space-xxxl); // The navbar height is subtracted from the container height
  padding-top: vars.$space-xxxl;
}
