@use "sass:map";
@use "@angular/material" as mat;
@use "variables" as vars;
@use "helper" as helper;

nav.desktop {
  display: flex;
  position: fixed;
  justify-content: center;
  z-index: 50;
  box-shadow: 0 3px 6px rgba(25, 32, 36, 0.16),
    0 -1px 4px rgba(25, 32, 36, 0.04);
  background-color: helper.get-theme-color("foreground");
  width: 100%;
  height: vars.$space-xxxl;
}

.light-gray {
  box-shadow: 0 3px 6px rgba(25, 32, 36, 0.16),
    0 -1px 4px rgba(25, 32, 36, 0.04);
  background-color: helper.get-theme-color("foreground");
}

a,
label {
  color: helper.get-theme-color("foreground-contrast");
  font-weight: 500;
  // font-size: vars.$font-size-lg;
  text-decoration: none;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: vars.$space-md;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  gap: vars.$space-sm;
  white-space: nowrap;
}

ul.container {
  list-style: none;
}

.navbar-left {
  flex: 1;
}

.navbar-middle {
  flex: 2;
  align-content: center;
  padding-inline: vars.$space-xxl;
}

.navbar-right {
  flex: 1;
}

app-city-search-bar.desktop {
  width: 100%;
}

.navbar-login-section {
  margin-left: vars.$space-md;
  border-left-width: 2px;
  border-color: solid helper.get-theme-color("foreground-contrast");
  padding-left: vars.$space-xl;
}

#dropdown {
  /* height: calc(100vh - 6rem); */
}

.logo {
  font-family: Verdana,Geneva,sans-serif;
  font-weight: 800;
  background-image: linear-gradient(to right, #00ffea, #7a00ff);
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
}
