<form>
  <input
    type="text"
    placeholder="Search for a street"
    [formControl]="formControl"
    [matAutocomplete]="dropdownAutocomplete"
  />
  <mat-autocomplete class="!mt-1" #dropdownAutocomplete="matAutocomplete">
    <ng-container
      *ngIf="dropdownOptions !== null && dropdownOptions.length > 0"
    >
      <mat-option
        *ngFor="let option of dropdownOptions"
        [value]="option.textToDisplay"
      >
        {{ option.textToDisplay }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</form>
