<nav>
  <div class="container">
    <ul class="navbar-section">
      <li>
        <a href="#">Home</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
      <li>
        <a href="#">Contact</a>
      </li>
    </ul>
    <div id="navbar-middle" class="navbar-section">
      <input type="text" placeholder="Search for a city" />
    </div>
    <div class="navbar-section">
      <div class="navbar-section">
        <mat-slide-toggle
        id="darkModeToggle"
        [checked]="isDarkModeEnabled"
        (change)="handleDarkModeToggle($event)"
      ></mat-slide-toggle>
      <label for="darkModeToggle">Dark Mode</label>
      </div>
      <div class="navbar-section">
        <a href="#">Login</a>
        <a href="#">Sign Up</a>
        <p id="testTheme">TEST</p>
      </div>
    </div>
  </div>
</nav>
