<p>navbar works!</p>
<!-- TODO: Look at Stash clone navbar code -->
<!-- TODO: Create a container component, using Angular Material breakpoints -->
<!-- TODO: Support night mode -->
<nav>
    <div class="container">
        <div class="navbar-left">
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div class="navbar-right">
            <a href="#">Login</a>
            <a href="#">Sign Up</a>
        </div>
    </div>
</nav>