<nav class="primary-color">
  <div class="container">
    <div class="navbar-left">
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact</a>
    </div>
    <div class="navbar-right">
      <mat-slide-toggle id="darkModeToggle" class="primary-color" [checked]="isDarkModeEnabled" (change)="handleDarkModeToggle($event)">Dog</mat-slide-toggle>
      <!-- <label for="toggleDarkMode">Dog</label> -->
      <a href="#">Login</a>
      <a href="#">Sign Up</a>
    </div>
  </div>
</nav>
