@use "sass:map";
@use "@angular/material" as mat;
@use "variables" as vars;
@use "helper" as helper;

// TODO: Look at stash's navbar. Convert buttons to a ul with li's.
// TODO: Create two sections for the navbar's right half.
nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: vars.$space-xxxl;
  background-color: helper.get-theme-color("foreground");
  position: fixed;
  z-index: 50;
  // border-bottom: 1px solid #d9e2e8;
  box-shadow: 0 3px 6px rgba(25,32,36,0.16),0 -1px 4px rgba(25,32,36,0.04);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: vars.$space-md;
  width: 100%;
  max-width: vars.$width-xxl;
  height: 100%;
}

.navbar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: vars.$space-sm;
}

#navbar-middle {
  @extend .navbar-section;
  flex-grow: 1;
  align-content: center;
  padding-inline: vars.$space-xxl;
}

a, label {
  color: helper.get-theme-color("foreground-contrast");
  // font-size: vars.$font-size-lg;
  text-decoration: none;
  font-weight: 500;
}

// TODO: Fix ul formatting
ul {
  list-style: none;
}

label {
  padding-right: vars.$space-lg;
  margin-right: vars.$space-md;
  border-right: 1px solid helper.get-theme-color("foreground-contrast");
}

input {
  // TODO: Use the angular material theme color for foreground/background elements
  // TODO: Make sure you retrieve the colors for both dark and light themes
  // background-color: ;
  width: 100%;
  padding: vars.$space-sm;
  border: none;
  border-radius: 4px;
  background-color: helper.get-theme-color("background");
  color: helper.get-theme-color("light-contrast")
}
