@use "sass:map";
@use "@angular/material" as mat;
@use "variables" as vars;
@use "helper" as helper;

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  height: vars.$space-xxl;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: vars.$width-xxl;
  height: 100%;
}

.navbar-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: vars.$space-sm;
}

#navbar-middle {
  @extend .navbar-section;
  flex-grow: 1;
  align-content: center;
  padding-inline: vars.$space-xxl;
}

a {
  color: helper.get-theme-color("primary-color");
  text-decoration: none;
}

input {
  width: 100%;
}
