<div class="flex w-full">
  <ng-container *ngIf="imageUrls !== null" ; else loading>
    <div class="image-gallery-container">
      <div class="left-half" *ngIf="imageUrls.length > 0">
        <!-- First image -->
        <img [src]="imageUrls[0]" alt="Image 1" />
      </div>
      <div class="right-half">
        <!-- Remaining images -->
        <div
          class="flex h-full w-full"
          *ngFor="let imageUrl of imageUrls.slice(1); let i = index"
        >
          <app-image-loadable
            [imageUrl]="imageUrl"
            [inputImageAlt]="'Image ' + (i + 2)"
          ></app-image-loadable>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <p>Loading...</p>
  </ng-template>
</div>
