<div class="flex w-full max-w-72 items-center justify-between">
  <label class="text-text-primary text-base" *ngIf="id && labelText" [for]="id">{{ labelText }}</label>
  <div class="flex items-center justify-between gap-1">
    <div class="flex w-fit items-center" role="radiogroup">
      <button
        role="radio"
        class="flex items-center"
        *ngFor="let ratingValue of ratingValues"
        (click)="onClick(ratingValue)"
        (keydown)="onKeyDown($event)"
        [attr.tabindex]="ratingValue === currentRating ? 0 : -1"
        [attr.aria-checked]="ratingValue === currentRating"
      >
        <span class="material-icons text-2xl text-bg-action-primary">
          {{ this.getIcon(ratingValue) }}
        </span>
      </button>
    </div>
    <!-- TODO: Confirm that the line height is correct -->
    <!-- <p class="text-lg leading-none text-text-primary">
      ({{ currentRating }}/{{ maxRating }})
    </p> -->
  </div>
</div>
