@use "sass:map";
@use "@angular/material" as mat;

@mixin create-theme-variables($theme, $color-config) {
  @each $palette-name, $palette in $color-config {
    --#{$palette-name}: #{mat.get-color-from-palette($palette, "default")};
    --#{$palette-name}-contrast: #{mat.get-color-from-palette(
        $palette,
        "default-contrast"
      )};

    --#{$palette-name}-dark: #{mat.get-color-from-palette($palette, "lighter")};
    --#{$palette-name}-dark-contrast: #{mat.get-color-from-palette(
        $palette,
        "lighter-contrast"
      )};

    --#{$palette-name}-light: #{mat.get-color-from-palette($palette, "darker")};
    --#{$palette-name}-light-contrast: #{mat.get-color-from-palette(
        $palette,
        "darker-contrast"
      )};
  }

  $background-wrapper: map-get($theme, "background");
  $background: map-get($background-wrapper, "background");
  --background: #{$background};

  $foreground-wrapper: map-get($theme, "background");
  $foreground: map-get($foreground-wrapper, "card");
  --foreground: #{$foreground};
}

@function get-theme-color($color-name) {
  @return var(--#{$color-name});
}
