@use "sass:map";
@use "@angular/material" as mat;
@use "variables" as vars;
@use "helper" as helper;

@include mat.core();

.dark-theme {
  @include mat.all-component-themes(vars.$dark-theme);
  @include helper.create-theme-variables(vars.$dark-color-config);
}

.light-theme {
  @include mat.all-component-themes(vars.$light-theme);
  @include helper.create-theme-variables(vars.$light-color-config);
}

#testTheme {
  color: helper.get-theme-color("primary");
}

:root {
  color-scheme: dark;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
