@use 'sass:map';
@use "@angular/material" as mat;

$light-theme: mat.define-light-theme((
 "color": (
   "primary": mat.define-palette(mat.$indigo-palette, 200, 100, 400),
   "accent": mat.define-palette(mat.$pink-palette, 200, 100, 400),
   "warn": mat.define-palette(mat.$amber-palette, 200, 100, 400)
 )
));

$dark-theme: mat.define-dark-theme((
 "color": (
   "primary": mat.define-palette(mat.$pink-palette),
   "accent": mat.define-palette(mat.$green-palette),
   "warn": mat.define-palette(mat.$red-palette)
 )
));

$color-config-light-theme: mat.get-color-config($light-theme);
$color-config-dark-theme: mat.get-color-config($dark-theme);

@debug "dark theme: #{map.keys($dark-theme)}";

@mixin create-theme-classes($theme) {
  // Parse the theme and create variables for each color in the pallete
  $color-config: mat.get-color-config($theme);

  // TODO: use map.keys instead!

  @each $palette-name, $palette in $color-config {
    .#{$palette-name}-color {
      background: mat.get-color-from-palette($palette, "default");
      color: mat.get-color-from-palette($palette, 'default-contrast');
    }
    .#{$palette-name}-color-light {
      background: mat.get-color-from-palette($palette, 'lighter');
      color: mat.get-color-from-palette($palette, 'lighter-contrast');
    }
    .#{$palette-name}-color-dark {
      background: mat.get-color-from-palette($palette, 'darker');
      color: mat.get-color-from-palette($palette, 'darker-contrast');
    }
  // }
}

// Useful: Get dark color from palette
// background: mat.get-color-from-palette($my-palette, 'darker');

$width-xxl: 1320px;

$space-base: 1rem;
$space-sm: $space-base * 0.875;
$space-md: $space-base * 1;
$space-lg: $space-base * 1.5;
$space-xl: $space-base * 2;
$space-xxl: $space-base * 4;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-md: $font-size-base * 1;
$font-size-lg: $font-size-base * 1.25;
$font-size-xl: $font-size-base * 1.75;
$font-size-xxl: $font-size-base * 2;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;
