@use "sass:map";
@use "@angular/material" as mat;

$light-color-config: (
  "primary": mat.define-palette(mat.$red-palette),
  "accent": mat.define-palette(mat.$yellow-palette),
  "warn": mat.define-palette(mat.$amber-palette)
);
$light-theme: mat.define-light-theme(
  (
    "color": $light-color-config
  )
);

$dark-color-config: (
  "primary": mat.define-palette(mat.$red-palette),
  "accent": mat.define-palette(mat.$yellow-palette),
  "warn": mat.define-palette(mat.$amber-palette)
);
$dark-theme: mat.define-dark-theme(
  (
    "color": $dark-color-config
  )
);

$width-xxl: 1320px;

$space-base: 1rem;
$space-xxs: $space-base * 0.3;
$space-xs: $space-base * 0.5;
$space-sm: $space-base * 0.7;
$space-md: $space-base * 1;
$space-lg: $space-base * 1.5;
$space-xl: $space-base * 2;
$space-xxl: $space-base * 4;

$font-size-base: 1rem;
$font-size-sm: $font-size-base * 0.875;
$font-size-md: $font-size-base * 1;
$font-size-lg: $font-size-base * 1.25;
$font-size-xl: $font-size-base * 1.75;
$font-size-xxl: $font-size-base * 2;

$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
