.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

#like-button {
  background-color: hsl(var(--twc-bg-action-primary));
  color: hsl(var(--twc-text-primary));
}

#share-button {
  background-color: hsl(var(--twc-bg-action-secondary));
  color: hsl(var(--twc-text-primary));
}
