<form
  class="flex h-fit w-full flex-col"
  [formGroup]="this.tripFormGroup"
  (ngSubmit)="onSubmit()"
>
  <div>
    <label for="title">Title</label>
    <app-input-autocomplete
      [inputFormControl]="this.tripFormGroup.get('title')! | formControl"
      id="title"
    ></app-input-autocomplete>
  </div>
  <div>
    <label for="city_id">City</label>
    <app-input-autocomplete
      [inputFormControl]="this.tripFormGroup.get('city_id')! | formControl"
      id="city_id"
    ></app-input-autocomplete>
  </div>
  <fieldset formArrayName="destinations">
    <legend>Enter the destinations</legend>
    <div *ngFor="let destination of this.destinations.controls; let i = index">
      <label [for]="'destination-' + i">{{i + 1}}.</label>
      <app-input-autocomplete
        [inputFormControl]="destination | formControl"
        [id]="'destination-' + i"
      ></app-input-autocomplete>
    </div>
  </fieldset>
  <label>
    Description
    <input type="text" formControlName="description" />
  </label>
  <label>
    Price Range
    <input type="number" formControlName="price_range" />
  </label>
  <label>
    Duration
    <input type="number" formControlName="duration" />
  </label>
</form>
<p>Form value: {{ this.tripFormGroup.value | json }}</p>
