<form
  class="flex h-fit w-full flex-col gap-4"
  [formGroup]="this.tripFormGroup"
  (ngSubmit)="onSubmit()"
>
  <div class="flex w-full flex-col items-end justify-between gap-4 md:flex-row">
    <div class="flex w-full">
      <app-input-basic
        [inputFormControl]="this.tripFormGroup.get('title')! | formControl"
        inputLabel="Title"
      ></app-input-basic>
    </div>
    <div class="flex w-full flex-col">
      <!-- <app-input-basic
        [inputFormControl]="this.tripFormGroup.get('city_id')! | formControl"
        inputId="city_id"
        inputLabel="City"
      ></app-input-basic> -->
      <label class="mb-1 text-base text-text-primary" for="form-city-search-bar"
        >City</label
      >
      <app-city-search-bar
        [inputFormControl]="this.tripFormGroup.get('city_id')! | formControl"
      ></app-city-search-bar>
    </div>
  </div>
  <div class="flex h-48 w-full">
    <app-input-large
      [inputFormControl]="this.tripFormGroup.get('description')! | formControl"
      inputLabel="Description"
      inputId="description"
      class="flex-grow"
    ></app-input-large>
  </div>
  <div class="mt-2 flex w-full justify-between gap-4">
    <div class="flex w-full">
      <app-input-rating
        [inputFormControl]="this.tripFormGroup.get('duration')! | formControl"
        id="duration"
        labelText="Duration"
        [maxRating]="5"
        selectedIconName="circle"
        unselectedIconName="radio_button_unchecked"
      ></app-input-rating>
    </div>
    <div class="flex w-full">
      <app-input-rating
        [inputFormControl]="this.tripFormGroup.get('price_range')! | formControl"
        id="price_range"
        labelText="Price"
        [maxRating]="5"
        selectedIconName="circle"
        unselectedIconName="radio_button_unchecked"
      ></app-input-rating>
    </div>
  </div>
  <hr class="mt-3 border-text-secondary" />
  <fieldset class="mt-2">
    <legend class="text-lg">Destinations</legend>
    <p class="mb-2 text-base text-text-secondary">Enter the destinations for your trip. Reorder by dragging and dropping the fields.</p>
    <div class="flex w-full">
      <app-input-draggable-options
        [inputFormArray]="this.tripFormGroup.get('destinations')! | formArray"
        (addOption)="this.onClickAddDestination()"
      ></app-input-draggable-options>
    </div>
  </fieldset>
  <!-- TODO: Create a second page merely confirming the details. Add a back arrow button. OR split the destinations section to a second page -->
  <!-- <p>Form value: {{ this.tripFormGroup.value | json }}</p> -->
</form>
