<p>input-draggable-options works!</p>
<div
  cdkDropList
  class="flex w-full flex-col rounded-md bg-bg-primary overflow-hidden"
  (cdkDropListDropped)="drop($event)"
>
  <div
    *ngFor="let control of inputFormArray.controls"
    class="flex w-full items-center justify-start bg-bg-tertiary px-4 py-2 transition hover:cursor-pointer hover:bg-bg-hovered"
    cdkDrag
  >
    <span class="material-icons mr-4">drag_indicator</span>
    <app-input-basic
      [inputFormControl]="control | formControl"
      hint="Enter destination"
    ></app-input-basic>
    <!-- {{control.value}} -->
  </div>
</div>
