form {
  width: 100%;
}

input {
  outline: none;
  border-radius: 4px;
  background-color: hsl(var(--twc-bg-primary));
  padding: 0.7rem;
  width: 100%;
  color: hsl(var(--twc-text-primary));
}

input:focus {
  box-shadow: 0 0 5px hsl(var(--twc-bg-action-primary));
}

:host {
  @apply flex w-full
}
