<div class="flex w-full flex-col">
  <label
    *ngIf="inputLabel"
    [for]="idForLabel"
    class="text-md text-text-primary mb-1"
    >{{ inputLabel }}</label
  >
  <input
    [id]="idForLabel"
    class="w-full rounded-md bg-bg-primary p-4 text-text-primary outline-none focus:shadow-primary"
    type="text"
    [placeholder]="hint"
    [formControl]="inputFormControl"
    [matAutocomplete]="dropdownAutocomplete"
    (click)="(onClickInputField)"
    data-testid="field-create-trip-city"
  />
  <mat-autocomplete
    class="!mt-1"
    #dropdownAutocomplete="matAutocomplete"
    (optionSelected)="onOptionSelected($event)"
    [displayWith]="convertOptionToString"
  >
    <ng-container *ngIf="dropdownOptions && dropdownOptions.length > 0">
      <mat-option *ngFor="let option of dropdownOptions" [value]="option">
        {{ option.textToDisplay }}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</div>
