@use "helper" as helper;

form {
  width: 100%;
}

input {
  outline: none;
  border-radius: 4px;
  background-color: hsl(var(--twc-bg-primary));
  padding: 0.7rem;
  width: inherit;
  color: hsl(var(--twc-bg-secondary));
}

input:focus {
  box-shadow: 0 0 5px hsl(var(--twc-bg-action-primary));
}
