<div
  class="flex h-16 w-full max-w-2xl cursor-pointer gap-1 rounded-lg bg-bg-secondary shadow-md transition duration-75 hover:bg-bg-hovered"
>
  <div
    class="flex h-full w-fit items-center justify-center whitespace-nowrap px-3 py-3"
  >
    <button
      class="scale-100 transform"
      mat-mini-fab
      color="primary"
      aria-label="Create new trip button"
    >
      <!-- Can find other icons on  -->
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="flex h-full w-full flex-col justify-center">
    <h2 class="text-lg text-text-primary">Create trip</h2>
    <p class="text-sm text-text-secondary">Share your trip idea for a city</p>
  </div>
</div>
