<div class="mt-8 flex w-full max-w-4xl flex-col items-start justify-start">
  <div
    class="flex h-12 w-64 items-center rounded-md"
    [class.loading]="trip === null"
  >
    <h1 class="text-4xl font-bold leading-none" *ngIf="trip !== null">
      {{ trip.title }}
    </h1>
  </div>
  <div class="mt-4 flex h-96 w-full overflow-hidden rounded-md">
    <app-image-gallery [imageUrls]="this.imageUrls" />
  </div>
  <p>Destinations</p>
  <ul class="w-full">
    <li
      class="mt-4 h-6 w-64 rounded-md"
      *ngFor="let destination of this.destinations"
      [class.loading]="destination === null"
    >
      <p *ngIf="trip !== null" class="text-base">{{ destination.name }}</p>
    </li>
  </ul>
  <div class="flex h-80 w-full overflow-hidden xl:rounded-lg">
    <app-image-loadable
      [imageUrl]="
        'assets/images/placeholders/google-maps-w-buttons-placeholder.png'
      "
    ></app-image-loadable>
  </div>
</div>
