<ng-container
  *ngIf="{
    trip: trip$ | async,
    isLoading: isLoading$ | async,
    imageCarouselSlides: imageCarouselSlides$ | async,
    destinationNames: destinationNames$ | async,
    markers: markers$ | async,
    center: center$ | async,
    tripUrl: tripUrl$ | async
  } as data"
>
  <div class="mt-8 flex w-full max-w-3xl flex-col items-start justify-start px-4">
    <div class="flex w-full flex-col justify-between gap-1">
      <div
        class="flex h-8 w-96 items-center rounded-md"
        [class.loading]="data.isLoading === true"
      >
        <h1 class="text-3xl font-bold leading-none">
          {{ data.trip!.title }}
        </h1>
      </div>
      <div class="flex h-4 w-64 items-center rounded-md" [class.loading]="data.isLoading">
        <p class="text-xl leading-none text-text-secondary">
          {{ data.trip!.city.city_name }},
          {{ data.trip!.city.state_abbreviation }}
        </p>
      </div>
    </div>
    <div class="relative mt-2 flex h-96 w-full overflow-hidden rounded-2xl shadow-md">
      <!-- <app-image-gallery [imageUrls]="data.imageUrls" /> -->
      <app-image-carousel [slides]="data.imageCarouselSlides!"></app-image-carousel>
    </div>
    <div
      class="min-h-26 mt-6 flex w-full flex-col gap-2 rounded-2xl"
      [class.loading]="data.isLoading"
    >
      <div class="flex h-8 w-full items-center">
        <h2 class="text-lg font-bold leading-none">Details</h2>
      </div>
      <!-- <hr class="border-border" /> -->
      <!-- <div class="mt-2 flex h-4 w-44 items-center justify-between">
        <p class="mr-2 leading-none">Duration</p>
        <app-rating [currentRating]="4" [maxRating]="5"></app-rating>
      </div> -->
      <!-- <div class="flex h-4 w-44 items-center justify-between">
        <p class="mr-2 leading-none">Cost</p>
        <app-rating [currentRating]="2" [maxRating]="5"></app-rating>
      </div> -->
      <!-- <hr class="mt-2 border-razor-thin border-border" /> -->
      <div class="flex min-h-3 min-w-40" [class.loading]="data.isLoading">
        <p class="text-base leading-[22px]">
          {{ data.trip!.description }}
          <!-- Non consequat incididunt reprehenderit aliquip sint deserunt ex cillum
          exercitation minim incididunt quis ex. Veniam dolore nostrud laboris et.
          Adipisicing cupidatat minim occaecat amet minim qui consequat eu dolore sunt est
          pariatur do in. <br /><br />
          Incididunt id incididunt minim irure pariatur reprehenderit voluptate
          adipisicing do pariatur aliquip. Consequat culpa eiusmod nostrud minim laboris
          mollit cillum officia aute aute aute ex ad. Pariatur quis laborum officia
          nostrud labore reprehenderit mollit adipisicing irure tempor aliqua. -->
        </p>
      </div>
    </div>
    <!-- <hr class="mt-8 w-full border-border px-1" /> -->
    <h2 class="mt-6 text-lg font-bold">Itinerary</h2>
    <div
      class="mt-2 w-full flex-col overflow-hidden bg-bg-secondary shadow-md md:rounded-lg"
    >
      <div class="h-64 w-full">
        <app-image-loadable
          [imageUrl]="'assets/images/placeholders/google-maps-w-buttons-placeholder.png'"
        ></app-image-loadable>
        <!-- <app-google-map
        [markers]="data.markers"
        [center]="data.center"
      ></app-google-map> -->
      </div>
      <!-- <div class="flex h-20 w-full items-center justify-start gap-2 px-4">
        <a class="leading-none"> Start trip in Google Maps </a>
        <span class="material-icons text-2xl leading-none text-text-secondary">
          launch
        </span>
      </div> -->
    </div>
    <ul class="mt-6 w-full">
      <ng-container
        *ngFor="
          let destination of data.trip!.destinations;
          let i = index;
          let isLast = last
        "
      >
        <li
          class="flex h-16 w-full overflow-hidden rounded-md bg-bg-secondary shadow-md hover:bg-bg-hovered"
          [class.loading]="data.isLoading"
        >
          <a
            [href]="
              'https://maps.google.com/?q=' + destination.name + ' ' + destination.address
            "
            target="_blank"
            rel="noopener noreferrer"
            class="flex h-full w-full items-center justify-start"
          >
            <div class="h-full w-24">
              <app-image-loadable [imageUrl]="destination.imageUrl"></app-image-loadable>
            </div>
            <div
              class="ml-2 flex h-full w-full items-center justify-start overflow-hidden"
            >
              <!-- <p class="text-base font-semibold">{{ i + 1 }}.</p> -->
              <div class="flex h-full w-full flex-col justify-center">
                <p class="text-base font-semibold">{{ i + 1 }}. {{ destination.name }}</p>
                <p class="text-sm font-medium text-text-secondary">
                  {{ destination.purpose }} | {{ destination.address }}
                </p>
              </div>
            </div>
            <div
              class="mr-2 flex h-full w-fit items-center gap-2 self-end whitespace-nowrap"
            >
              <p>View in Maps</p>
              <span class="material-icons text-2xl leading-none text-text-secondary">
                launch
              </span>
            </div>
          </a>
        </li>
        <div *ngIf="!isLast" class="flex w-20 flex-col items-center">
          <div class="mt-2 h-1 w-1 rounded-full bg-text-secondary"></div>
          <div class="mt-2 h-1 w-1 rounded-full bg-text-secondary"></div>
          <div class="mb-2 mt-2 h-1 w-1 rounded-full bg-text-secondary"></div>
        </div>
      </ng-container>
      <!-- <button
        class="mb-16 mt-12 flex h-16 w-full items-center justify-center gap-2 overflow-hidden rounded-3xl bg-bg-action-primary shadow-md"
      >
        <p class="text-text-action-primary">Start trip in Google Maps</p>
      </button> -->
    </ul>
    <a
      [href]="data.tripUrl"
      target="_blank"
      rel="noopener noreferrer"
      class="mb-16 mt-12 flex h-12 w-64 items-center justify-center self-center rounded-3xl bg-bg-action-primary px-4 text-text-action-primary hover:bg-bg-action-primary-hovered"
    >
      Start trip in Google Maps
    </a>
  </div>
</ng-container>
