@use "helper" as helper;

.wrapper {
  display: flex;
  justify-content: center;
  background-color: helper.get-theme-color("background");
  width: 100%;
}

$container-padding-top: 5rem + 2rem;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $container-padding-top;
  width: 100%;
  max-width: 4rem;
  min-height: calc(
    100vh - $container-padding-top
  ); // The navbar height is subtracted from the container height
}
