.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--twc-bg-primary));
  width: 100%;
}

$navbar-height: 5rem;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $navbar-height;
  width: 100%;
  @apply max-w-6xl;
  min-height: calc(
    100vh - $navbar-height
  ); // The navbar height is subtracted from the container height
}

:host {
  width: 100vh;
}
