<div class="flex w-full justify-center">
  <div class="w-full max-w-5xl">
    <div class="flex w-full h-16 create-trip-card gap-1">
      <div class="flex w-fit h-full items-center whitespace-nowrap">
        <p>Test</p>
      </div>
      <div class="flex flex-col w-full h-full justify-center">
        <h2>Create trip</h2>
        <p>Share your trip idea for a city</p>
      </div>
    </div>
    <ng-container *ngFor="let trip of trips$ | async">
      <app-trip-overview-card [trip]="trip"></app-trip-overview-card>
    </ng-container>
    <br><br>
    <p>Test theme</p>
    <app-test-theme />
  </div>
</div>
