<div class="flex w-full justify-center">
  <div class="flex flex-col justify-center items-center w-full max-w-5xl">
    <div class="flex w-full gap-1  max-w-2xl h-16 rounded-lg bg-bg-secondary transition hover:bg-bg-hovered cursor-pointer duration-75">
      <div class="flex w-fit h-full justify-center items-center whitespace-nowrap px-3 py-3">
        <button
          class="scale-100 transform"
          mat-mini-fab
          color="primary"
          aria-label="Create new trip button"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="flex flex-col justify-center w-full h-full">
        <h2 class="text-lg text-text-primary">Create trip</h2>
        <p class="text-sm text-text-secondary">Share your trip idea for a city</p>
      </div>
    </div>
    <ng-container *ngFor="let trip of trips$ | async">
      <app-trip-overview-card [trip]="trip"></app-trip-overview-card>
    </ng-container>
    <br /><br />
    <app-test-theme />
    <div class="w-30 h-30">
      <button
      mat-mini-fab
      class="block"
      style="
          width: 128px;
          height: 128px;
          font-size: 128px;
          line-height: 128px;
        "
        color="primary"
        aria-label="Create new trip button"
        >
        <mat-icon>add</mat-icon>
      </button>
      <p class="text-slate-800 tester">Test theme</p>
    </div>
  </div>
</div>
