<div class="relative flex h-full w-full">
  <div
    *ngFor="let slide of slides; let i = index"
    class="absolute flex h-full w-full transition-opacity"
    [style.opacity]="i === currentSlideIndex ? '1' : '0'"
  >
    <img
      class="h-full w-full object-cover"
      [src]="slide.imageUrl"
      [alt]="slide.description"
    />
  </div>
  <div class="absolute bottom-0 mb-4 flex h-6 w-full justify-center gap-2">
    <div
      class="h-2 w-2 rounded-full"
      *ngFor="let slide of slides; let i = index"
      [ngClass]="i === currentSlideIndex ? ' bg-gray-400' : 'bg-gray-500'"
    ></div>
  </div>
  <div
    class="absolute left-0 top-0 flex h-10 w-fit items-center rounded-br-md bg-black bg-opacity-50 pl-3 pr-2"
  >
    <p class="text-base text-text-action-primary">
      {{ slides !== null ? slides[currentSlideIndex].description : "" }}
    </p>
  </div>
  <button
    class="absolute left-0 top-1/2 ml-4 flex h-8 w-8 items-center justify-center rounded-full bg-bg-action-primary transition hover:bg-bg-action-primary-hovered"
    (click)="changeImage(false)"
  >
    <span class="material-icons mr-[2px] text-text-action-primary"> arrow_back </span>
  </button>
  <button
    class="absolute right-0 top-1/2 mr-4 flex h-8 w-8 items-center justify-center rounded-full bg-bg-action-primary transition hover:bg-bg-action-primary-hovered"
    (click)="changeImage(true)"
  >
    <span class="material-icons text-text-action-primary"> arrow_forward </span>
  </button>
</div>
