<div class="flex w-full max-w-5xl">
  <div class="w-full" *ngIf="city$ | async as city; else loading">
    <h1>{{ city.city_name }}</h1>
    <p>{{ city.state }}</p>
    <app-image-gallery [imageUrls]="this.images" class="w-full flex xl:rounded-lg overflow-hidden" />
    <p>Destinations</p>
    <ul>
      <li>Stop 1</li>
      <li>Stop 2</li>
    </ul>
    <div class="relative h-80 flex w-full xl:rounded-lg overflow-hidden">
      <img
        class="object-cover"
        ngSrc="assets\images\placeholders\google-maps-w-buttons-placeholder.png"
        fill
      />
    </div>
  </div>
  <ng-template #loading>
    <div>
      <p>Loading city information...</p>
    </div>
  </ng-template>
</div>
